extends layout.pug

block metadata
    title= profileUser.userName
    link(rel="stylesheet", href="/styles/styleindexPost.css")
    link(rel="stylesheet", href="/styles/styleProfile.css")

block content
    .profile-header
        h2= profileUser.userName
        if profileUser.description
            p.profile-desc= profileUser.description

        .profile-stats
            span #{followersCount} Seguidores
            span #{followingCount} Seguidos

        if user && !isOwnProfile
            if isFollowing
                form(action=`/profile/${profileUser.idUser}/unfollow` method="POST")
                    button.button(type="submit") Dejar de seguir
            else
                form(action=`/profile/${profileUser.idUser}/follow` method="POST")
                    button.button(type="submit") Seguir

    .container-posts
        each post in posts
            .card-post
                if post.images && post.images.length > 0
                    img(src=`data:image/jpeg;base64,${post.images[0].base64}` alt=post.titulo)

                h3= post.titulo
                p= post.descripcion
                a.button-post(href=`/post/${post.idPost}`) Ir
